
body{
    font-size: 14px;
}
body,p, h1,h2,h3,a,div,ul, li, nav, header,footer, span, table, tr, td, th{
    padding:0;
    margin: 0; 
}
@font-face {
    font-family:'FontAwesome';
    src:url('../fonts/fontawesome.woff');
}
/*MISC*/
.clearfix{
    clear:both;
}

.box-borders {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.required{
    color:red;
}

/* Навигация */
header {
    background-color: #3bf742;
}
.main-menu {
    float: left;
}
.profile-menu {
    float: right;
}

nav li{
    list-style: none;
    float:left;
    padding: 0 10px;
    position:relative;
}

.profile-link,
nav li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 1.2em;
}
.main-menu .submenu {
    width: 100px;
    background-color: #3bf742;
}
.main-menu .submenu li{
    float:none;
    margin: 3px 0;
    border-bottom: 1px solid red;
}
.main-menu .submenu li:last-child{
    border-bottom:none;
}
nav li:hover,
.profile-link:hover,
nav li a:hover{
    color:#fff;
    background-color:green;
    cursor: pointer;
}
nav li:hover .submenu{
    display: block;
}

.profile-menu .submenu{
    width: 151px;
    background: #3bf742;
    right:0 !important;    
}

.submenu{
    display: none;
    position:absolute;
    top: 20px;
}

.main-menu .submenu{
    left:0;
}
.subsubmenu {
    display: none;
    position: absolute;
    top: -3px;
    right: -123px;
    background-color: #3bf742;
}

.main-menu .submenu li:hover .subsubmenu{
    display:block;
}

/* Профил*/
.profile-picture{
    float:left;
    width: 230px;
}
.personal-data h2 {
    margin-bottom: 20px;
}
.profile-picture img {
    display: block;
    width: 130px;
    margin: 0 auto;
}
.profile-info{
    float:left;
    width:70%;
}

.profile-info th{
    text-align: left;
}
.profile-info td{
    padding-left:25px;
}

/*Описание на Събитието*/
.event-data{
    padding:20px;
}
.input-raw{
    width:600px;    
}

.input-raw {

    width: 800px;
    margin: 20px 0;

}

.event-data input,
.event-data textarea{
    width:100%;
}

.event-data .input-count-three label{
    display: block;
    float: left;
    width:30%;
}
.event-data .input-count-three label span{
    display:inline-block;
}
.event-data .input-count-three input {
    display: inline-block;
    width: 100%;
}
.event-data .input-count-three label:nth-child(2){
    margin: 0 5%;
}
/*Описание на Събитието*/

.select-label{
    width:150px;
}

.select-label {
    width: 100px;
    display: inline-block;
}
.additional-data select {
    width: 300px;
}
.gen-info li {
    list-style-type: none;
    margin-bottom: 10px;
}

.img-icon {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
    background-size: 100px 100px;
}
.info{
    float:left;
    width: 200px;
}

.img-icon.pos-icon-one {
    background-position: 8%;
}
.user-data th,
.user-data td {
    border: 1px solid;
    padding-left: 4px;
}

table {
    border-collapse: collapse;
}

.checked {
    font-family: 'FontAwesome';
    font-style: normal;
    color: green;
}
.checked:before{
    content:'\f00c';
}
.trash {
    font-family: 'FontAwesome';
    font-style: normal;
    color: red;
    font-size: 2em;
    cursor: pointer;
}
.trash:before{
    content:'\f1f8';
}
.pdf-file{
    font-family: 'FontAwesome';
    font-style: normal;
    color: blue;
    cursor: pointer;
}
.pdf-file:before{
    content:'\f1c1'
}